AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=

AZURE_RESOURCE_GROUP_NAME=rg-ealh-dev-canadacentral
AZURE_STORAGE_ACCOUNT_NAME=stsubhashealhdev001
AZURE_DATA_FACTORY_NAME=adf-ealh-dev-canadacentral
AZURE_KEY_VAULT_NAME=kv-subhash-ealh-dev

DATABRICKS_HOST=https://adb-7405617418209672.12.azuredatabricks.net
DATABRICKS_CATALOG=ealh_dev

AZURE_SQL_SERVER_NAME=sql-subhash-ealh-dev
AZURE_SQL_DATABASE_NAME=sqldb-ealh-dev
